@model TrackFinder.ViewModels.TrackStacks.EditTrackStackViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">


    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h2 class="fw-bold mb-0">
                Edit Track Stack
            </h2>

            <small class="text-muted">
                Update track stack information
            </small>
        </div>


        <a asp-action="Index"
           class="btn btn-outline-secondary">

            <i class="bi bi-arrow-left me-1"></i>
            Back

        </a>

    </div>



    <div class="card shadow-sm border-0">


        <div class="card-header bg-white">

            <h5 class="mb-0">
                Edit Information
            </h5>

        </div>



        <div class="card-body">


            <form asp-action="Edit" method="post">


                <input type="hidden" asp-for="Id" />


                <div asp-validation-summary="ModelOnly"
                     class="alert alert-danger">
                </div>



                <div class="row">


                    <div class="col-md-6 mb-3">


                        <label asp-for="StackName"
                               class="form-label fw-semibold">
                        </label>


                        <input asp-for="StackName"
                               class="form-control" />


                        <span asp-validation-for="StackName"
                              class="text-danger">
                        </span>


                    </div>




                    <div class="col-md-6 mb-3">

                        <label asp-for="RelatedTrackId"
                               class="form-label fw-semibold">
                        </label>

                        <select asp-for="RelatedTrackId"
                                asp-items="ViewBag.Tracks"
                                class="form-select">

                            <option value="">
                                -- Select Track --
                            </option>

                        </select>

                        <span asp-validation-for="RelatedTrackId"
                              class="text-danger">
                        </span>

                    </div>




                    <div class="col-md-12 mb-3">


                        <label asp-for="StackDescription"
                               class="form-label fw-semibold">
                        </label>


                        <textarea asp-for="StackDescription"
                                  class="form-control"
                                  rows="4">
                        </textarea>


                        <span asp-validation-for="StackDescription"
                              class="text-danger">
                        </span>


                    </div>



                </div>




                <div class="d-flex justify-content-end gap-2">


                    <a asp-action="Index"
                       class="btn btn-light">

                        Cancel

                    </a>



                    <button type="submit"
                            class="btn btn-warning">

                        <i class="bi bi-pencil-square me-1"></i>

                        Save Changes

                    </button>


                </div>



            </form>


        </div>


    </div>


</div>



@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}