@model TrackFinder.ViewModels.Courses.CourseDetailsViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Delete Course</h3>

<form asp-action="Delete" asp-controller="Courses" method="post">

    @Html.AntiForgeryToken()

    <input asp-for="Id" type="hidden" />

    <div class="alert alert-danger">
        Are you sure you want to delete
        <strong>@Model.Name</strong>?
    </div>

    <button class="btn btn-danger">
        Delete
    </button>

    <a class="btn btn-secondary ms-2"
       asp-action="Index"
       asp-controller="Courses">
        Cancel
    </a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}