@model TrackFinder.ViewModels.Instructors.InstructorDetailsViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Delete Instructor</h3>
<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="UserId" type="hidden" />
    <div class="alert alert-danger">Are you sure you want to delete this instructor?</div>
    <button class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary ms-2" asp-action="Index">Cancel</a>
</form>